<div class="jumbotron">
  <h1>
    <img src="assets/logotyp.png" class="logo" alt="GOLIPYSZCZEK" />
  </h1>

  <div class="btn-group">
    <a href="#regulamin" class="btn btn-large">
      <i class="icon-book"></i>
      Regulamin
    </a>
    <a href="#cennik" class="btn btn-large btn-info">
      <i class="icon-credit-card"></i>
      Cennik
    </a>
  </div>
</div>

<div class="marketing">
  <div class="row">
    <div class="span4">
      <h4><i class="icon-cut"></i> Tniemy</h4>
      <p>
        Każdemu czworonogowi dobierzemy odpowiednią fryzurkę podkreślającą jego sylwetkę.
      </p>
    </div>
    <div class="span4">
      <h4><i class="icon-tint"></i> Kąpiemy</h4>
      <p>
        Małe, duże i te największe. Bez wyjątków.
      </p>
    </div>
    <div class="span4">
      <h4><i class="icon-magic"></i> Czarujemy</h4>
      <p>
        Pozytywne podejście do zwierząt. Środkom uspokajającym mówimy <b>Nie!</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h4><i class="icon-phone"></i> Zadzwoń</h4>
      <p>
        Umów się z nami telefonicznie. Godziny pracy możemy dostosować.
      </p>
    </div>
    <div class="span4">
      <h4><i class="icon-building"></i> Zapraszamy</h4>
      <p>
        Pracujemy w każdy poniedziałek, środę i piątek
      </p>
    </div>
    <div class="span4">
      <h4><i class="icon-map-marker"></i> Kontakt</h4>
      <address>
        ul. Sadowa 10<br>
        41-200 Sosnowiec<br>
        <abbr title="telefon">tel:</abbr> 506-171-754<br>
        <abbr title="mail">@:</abbr> sonia@golipyszczek.pl<br>
        <a href="http://maps.google.com/?q=Poland, Sosnowiec, Sadowa, 10">
          Mapka &raquo;
        </a>
      </address>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h4><i class="icon-shopping-cart"></i> Sklep</h4>
      <p>
        Przez cały tydzień w tym samym miejscu działa sklep zoologiczny.
        <a href="https://www.facebook.com/PiatyPazur">
          Piąty Pazur &raquo;
        </a>
      </p>
    </div>
    <div class="span4">

    </div>
    <div class="span4">
      <h4><i class="icon-facebook"></i> Znajdź nas</h4>
      <p>
        Chcesz uczestniczyć w życiu salonu? Polub nas!
        <a href="https://www.facebook.com/Golipyszczek">Fanpage &raquo;</a>
      </p>
    </div>
  </div>
</div>
