<!DOCTYPE html>
<html ng-app="golipyszczek" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta charset="utf-8">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <link rel="icon" type="image/png" href="assets/favicon.png">

  </head>
  <body>
    <!-- <div class="container"> -->
    <!--   <div class="navbar navbar-inverse navbar-fixed-top"> -->
    <!--     <div class="navbar-inner"> -->
    <!--       <div class="container"> -->
    <!--         <a class="brand pull-left" href="#"> -->
    <!--             <object style="pointer-events: none;" class="logo" type="image/svg+xml" data="assets/logotyp.svg"> -->
    <!--               <img src="assets/logo.png" class="logo"/> -->
    <!--             </object> -->
    <!--         </a> -->
    <!--         <ul class="nav pull-right"> -->

    <!--           <\!-- <li ui-route="/home" ng-class="{active:$uiRoute}"> -\-> -->
    <!--           <\!--   <a href="#/home">Golipyszczek</a> -\-> -->
    <!--           <\!-- </li> -\-> -->
    <!--           <li ui-route="/about" ng-class="{active:$uiRoute}"> -->
    <!--             <a href="#/about">O nas</a> -->
    <!--           </li> -->
    <!--           <li ui-route="/about" ng-class="{active:$uiRoute}"> -->
    <!--             <a href="#/about">Współpraca</a> -->
    <!--           </li> -->
    <!--           <li ui-route="/about" ng-class="{active:$uiRoute}"> -->
    <!--             <a href="#/about">Kontakt</a> -->
    <!--           </li> -->
    <!--           <li ui-route="/about" ng-class="{active:$uiRoute}"> -->
    <!--             <a href="#/about">Kalendarz</a> -->
    <!--           </li> -->
    <!--         </ul> -->
    <!--       </div> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->


    <div class="container" ui-view="main">
    </div>

    <footer class="footer">
    </footer>
  </body>
</html>
